#logger.conf

[loggers]
keys=root,wxpay,test,transaction,credit

[logger_root]
level=DEBUG
handlers=wxpay

[logger_wxpay]
level=DEBUG
handlers=wxpay
qualname=wxpay
propagate=0

[logger_test]
level=DEBUG
handlers=test
qualname=test
propagate=0

[logger_transaction]
level=DEBUG
handlers=transaction
qualname=transaction
propagate=0

[logger_credit]
level=DEBUG
handlers=transaction
qualname=transaction
propagate=0

[handlers]
keys=wxpay,test,transaction,credit

[handler_wxpay]
class=FileHandler
level=DEBUG
formatter=form01
args=('var/log/wxpay.log', 'a')
encoding = "UTF-8"

[handler_test]
class=FileHandler
level=DEBUG
formatter=form01
args=('var/log/test.log', 'a')
encoding = "UTF-8"

[handler_transaction]
class=FileHandler
level=DEBUG
formatter=form01
args=('var/log/transaction.log', 'a')
encoding = "UTF-8"

[handler_credit]
class=FileHandler
level=DEBUG
formatter=form01
args=('var/log/credit.log', 'a')
encoding = "UTF-8"

[formatters]
keys=form01

[formatter_form01]
format=%(asctime)s %(filename)s[line:%(lineno)d] %(levelname)s %(message)s
datefmt=%a, %d %b %Y %H:%M:%S
